
.encabezado{background-color:#Ece7ea;
            text-align: center;}

body{background-color:#Ece7ea;}
H1{background-color:#D841a0; 
    font-family:"times new roman";   }

    .titulos{background-color:#Da9fc4;font-size:bold ; }
.NegritaCursiva{font-weight:bold;
                font-style: bold;}
footer{text-align: center;}