*{
    color:#fff;
}
.container{
    display:grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    background-color: rgb(219, 210, 210);
    grid-gap: 10px;
}

.clase1{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 4;
   
}
.clase2{
    background-color: #000;
    grid-column-start: 1;
    grid-column-end: 3;

}
.clase3{
    background-color: rgb(193, 10, 120);
    grid-column-start: 3;
    grid-column-end: 4;
}
.clase4{
    background-color: rgb(41, 19, 102);
    grid-column-start: 1;
    grid-column-end: 4;
   
}